.logo_dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.text_1 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.text_2 {
  color: rgb(4, 255, 4);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
